{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qbank_columnsortorder/column_sort_ui

    Admin question bank setting template.

    Context variables required for this template:
    * name - plugin name
    * hiddenname - class/columname

    Example context (json):
    {
        "names": [
            {
                "name": "Column A",
                "tiptitle": "Column A",
                "colname": "col_name_A",
                "class": "class_name_A"
            },
            {
                "name": "Column B",
                "tiptitle": "Column B",
                "colname": "col_name_B",
                "class": "class_name_B"
            }
        ]
    }
}}
<div>
    {{#str}}qbanksortdescription, qbank_columnsortorder{{/str}}
</div>
<br>
<div id="show-hide-dropdown" class="qbank-show-hide-dropdown mb-3">
</div>
<div class="table-responsive">
    <table class="question-bank-table" id="qbank_columnsortorder-{{uniqid}}"
           data-pinnedcolumns="{{pinnedcolumns}}" data-hiddencolumns="{{hiddencolumns}}" data-colsize="{{colsize}}">
        <thead>
        <tr class="column">
            {{#names}}
                {{>core_question/column_header}}
            {{/names}}
        </tr>
        </thead>
    </table>
</div>
<br>
<div>
    {{#columnsdisabled}}
        {{#str}}qbankcolumnsdisabled, qbank_columnsortorder{{/str}}
        <br>
    {{/columnsdisabled}}
    {{#disabled}}
        <div class="list-group-item disabled">
            {{disabledname}}
        </div>
    {{/disabled}}
</div>
{{#js}}
    require(['qbank_columnsortorder/qbank_column_action'], function(AdminTable) {
        AdminTable.init("qbank_columnsortorder-{{uniqid}}", true);
    });
{{/js}}
<br>
<div>
    {{{urltomanageqbanks}}}
</div>
